.film-section-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.search-info {
  display: flex;
  justify-content: space-between;
}

.movies-found, .movies-shown {
  font-size: clamp(14px, 1vw, 20px);
  font-weight: bolder;
}

@media (max-width: 2000px) {
    .film-section-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(+10px);
    }
    40% {
        opacity: 0;
        transform: translateX(+10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  

.grid-item {
    position: relative;
    width: auto;
    opacity: 0;
}

.on-load-animation {
  animation: fadeIn 0.5s ease-in;
  opacity: 1 
}

.responsive-imgs {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.gardiant-container {
    width: 100%;
    inset: 0;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 1) 100%);
    text-align: center;
    transition: ease-in 0.1s;
}

.image-container {
    position: relative;
    display: inline-block;
}

.heart-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" color="white" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"%3E%3Cpath d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" /%3E%3C/svg%3E');
  }

  .heart-icon.filled {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" color="white" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/%3E%3C/svg%3E');
  }

  .movie-title {
    font-size: clamp(16px, 2vw, 40px);
    font-weight: bold;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 5px;
    right: 5px;
    transform: translateY(-50%);
    margin: 0;
    transition: ease-in 0.1s;
    text-align: center;
    vertical-align: center;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

  .grid-item:hover .movie-title{
    opacity: 1;
}

.grid-item:hover .gardiant-container {
    opacity: 0.7;
}

