.header {
    height: 200px;
    width: 60%;
    min-width: 600px;
    background-image: url(../../assets/Gradient.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
}

.header__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: xx-large;
    color: var(--dark);
    font-weight: bold;
}

.searchbar {
    width: 100%;
}

.header__right {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.language {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 8px;
    background-color: #ffffff51;
    border: none;
}

.button {
    display: flex;
    gap: 8px;
}

.button-icon {
    background-image: url(../../assets/red-heart-icon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    height: 24px;
    width: 24px;
}

.search-icon {
    background-image: url(../../assets/search.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    height: 24px;
    width: 24px;
}